.active{
    background-color: rgb(42, 0, 139);
}

a{
    display: block;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px 15px;
    font-size: 21px;
    outline: 2px solid rgba(173, 216, 230, 0.103);
    background-color: transparent;
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
a:hover{
    outline-color: rgba(173, 216, 230, 0.445);
}

nav{
    width: 100%;
}

.span{
    position: absolute;
    height: 100%;
    width: 0%;
    left: 50%;
    transition: left 1s, width 1s;
    border-radius: 25px;
    background-color: rgb(42, 0, 139);
    top: 0px;
    z-index: -1;
}

.nick{
    background-color: rgba(0, 247, 255, 0.432);
    cursor: default;
}

a:hover .span{
    left: 0%;
    width: 100%;
}

.hide{
    display: none;
}

.Menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}


.mainGrid{
    display: grid;
}
.content{
    min-height: 100vh;
    margin-bottom: 80px;
}
.leftGrid{
    height: fit-content;
}

/* ------hamburger------ */
#hamburgerBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}
.menu-btn {
position: relative;
display: none;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
transition: all .5s ease-in-out;
}
.menu-btn__burger {
width: 50px;
height: 6px;
background: #fff;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(255,101,47,.2);
transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
content: '';
position: absolute;
width: 50px;
height: 6px;
background: #fff;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(255,101,47,.2);
transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
transform: translateY(-16px);
}
.menu-btn__burger::after {
transform: translateY(16px);
}
/* ANIMATION */
.open {
transform: translateX(-50px);
background: transparent;
box-shadow: none;
}
.open::before {
transform: rotate(45deg) translate(35px, -35px);
}
.open::after {
transform: rotate(-45deg) translate(35px, 35px);
}

@media (max-width: 900px) {
    .mainGrid{
        grid-template-columns: auto;
    }
    .leftGrid{
        height: 100vh;
        width: 0px;
        transition: width 1s;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(63, 82, 117, 0.815);
        z-index: 9;
        overflow: hidden;
    }
    .roll{
        width: 200px;
    }
    .menuGrid{
        margin-top: 100px;
        grid-template-columns: 200px;
    }
    .leftMenu, .rightMenu{
        grid-template-columns: 200px;
    }
    a{
        margin: 10px;
    }
    .menu-btn {
        position: fixed;
        top: 0px;
        display: flex;
        z-index: 10;
    }

}

footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    position: relative;
    margin-top: -60px;
    clear: both;
}