.title{
    color: lightgray;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

div{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(3px);
    padding: 30px;
    font-size: 21px;
    text-align: center;
    width: 70%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
@media (max-width: 900px) {
    div{
        width: 50%;
        font-size: 17px;
    }
}