<div class="container">
    <h1>New TOILET</h1>
    <div class="glass">
      <form #heroForm="ngForm">

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder=" "
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel"
                 pattern="[a-zA-Z ]*">
          <label for="name">Name</label>
        </div>

         <div class="form-group">
          <input type="text" class="form-control" id="description" placeholder=" "
                  required
                  [(ngModel)]="model.description" name="description"
                  #country="ngModel"
                  pattern="[a-zA-Z ]*">
          <label for="description">Description</label>
        </div>

        <div class="form-group">
          <input type="street" class="form-control" id="street" placeholder=" "
                  required
                  [(ngModel)]="model.adress.street" name="street"
                  #street="ngModel"
                  pattern="[a-zA-Z ]*">
          <label for="street">Street</label>
        </div>

        <!--<div class="form-group">
          <input type="text" class="form-control" id="ingredients" placeholder=" "
                  required
                  [(ngModel)]="model.ingredients" name="ingredients"
                  #ingredients="ngModel"
                  pattern="[a-zA-Z ]*">
          <label for="ingredients">Lista składnikow</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="output" placeholder=" "
                  required
                  [(ngModel)]="model.output" name="output"
                  #output="ngModel"
                  pattern="([1-9]|[1-9][0-9])">
          <label for="output">Przepustowosc</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="price" placeholder=" "
                  required
                  [(ngModel)]="model.price" name="price"
                  #price="ngModel"
                  pattern="([2-9]|[1-9][0-9]{1,2}|1000)" >
          <label for="price">Cena</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="dercription" placeholder=" "
                  required
                  [(ngModel)]="model.description" name="dercription"
                  #dercription="ngModel"
                  pattern="[a-zA-Z ]*">
          <label for="description">Opis</label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="link" placeholder=" "
                  required
                  [(ngModel)]="str" name="link"
                  #link="ngModel">
          <label for="link">Link do zdj</label>
        </div> -->

        <button type="button" class="btn btn-default" [disabled]="!heroForm.form.valid" (click)="senditem(); newHero(); heroForm.reset()">Dodaj</button>
      </form>
    </div>
</div>