<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

<section>
    <div class="container">
      <div class="table-responsive text-white">
        <table class="table table-striped text-center table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Distance</th>
            <th scope="col">Cost</th>
            <th scope="col">Track</th>
          </tr>
          </thead>
        <tbody id="myTable">
          <tr *ngFor="let t of toiletList">
            <td><h5>{{t.name}}</h5></td>
            <td><h5>testDistance</h5></td>
            <td><h5>{{t.paid}}</h5></td>
            <td><div class="track">🧭</div></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </section>