*{
    color: white;
}

h5{
    height: 90px;
    line-height: 90px
}

.track{
    height: 90px;
    line-height: 90px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}