<div class="container">
  <h1>New Review id: {{id}}</h1>
  <form #heroForm="ngForm">

    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder=" "
             required
             [(ngModel)]="model.username" name="username"
             #username="ngModel"
             pattern="[a-zA-Z ]*">
             <label class="label_username" for="username">Username</label>
      <div [hidden]="username.valid || username.pristine"
        class="alert alert-danger">
        Username jest wymagany
      </div>
    </div>

    <div class="form-group" class="opinionGrid">
      <textarea type="text" class="form-control" id="body" placeholder=" "
              required
              [(ngModel)]="model.body" name="body"
              #body="ngModel"
              minlength="10">
      </textarea>
      <label for="body">Opinia</label>
      <div [hidden]="body.valid || body.pristine"
        class="alert alert-danger">
        Opinia jest wymagana
      </div>
    </div>

      <div class="form-group">
        <input type="date" class="form-control" id="date"
               [(ngModel)]="model.date" name="date"
               #date="ngModel">
      </div>

    <button type="button" class="btn btn-default" [disabled]="!heroForm.form.valid" (click)="senditem(); newHero(); heroForm.reset()">Dodaj</button>
  </form>
</div>