<h1 class="logo">TOILET SEARCHER</h1>
<div>

    <body style="border: 0; margin: 0">
        <!-- <div class="formBlock">
          <form id = "form">
            <input type="text" name="start" class="input" id="start" placeholder="Starting point"/>
            <input type="text" name="end" class="input" id="destination" placeholder="Destination point"/>
            <button type="submit">Get Directions</button>
          </form>
        </div> -->
        <div id="map"></div>
    </body>

    <app-undermap-list></app-undermap-list>

    <h4>Project by S-szymon K-kuba S-sebastian</h4>
</div>