
.logo{
    font-size: 100px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: default;
    color: rgb(176, 222, 214);
    -webkit-box-reflect: below 0px linear-gradient(transparent,rgba(0, 0, 0, 0.116));
    line-height: 0.7em;
    outline: none;
}
.logo:hover{
    color: white;
    text-shadow: 0px 0px 80px rgba(0, 165, 187, 0.562);
}
h4{
    margin: 10px;
    font-size: 17px;
    text-align: center;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






#map {
    height: 60vh;
    margin: auto
  }
.formBlock {
    max-width: 300px;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
  }
  
.input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
}


app-undermap-list{
    margin: 50px;
}